button.menuButton {
    border: none;
    padding: 5px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
    margin: 15px;
    max-width: 200px;
}

h1.gameTitle {
    color: white;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body.menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.gameMenuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}